<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>MyDharmaQuotes.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://stanmerrill-001-site14.htempurl.com:8172/MsDeploy.axd?site=stanmerrill-001-site14</MSDeployServiceURL>
    <DeployIisAppPath>stanmerrill-001-site14</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>stanmerrill-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuotesContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="QuotesParables.Models.QuotesContext, QuotesParables" MigrationConfiguration="QuotesParables.Migrations.Configuration, QuotesParables" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuoteTestContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5047.site4now.net;Initial Catalog=DB_A0FD8B_testQuotes;Persist Security Info=True;User ID=DB_A0FD8B_testQuotes_admin;Password=Dis2500os" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuoteTestContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5047.site4now.net;          &#xA;          Initial Catalog=DB_A0FD8B_testQuotes;          &#xA;          User Id=DB_A0FD8B_testQuotes_admin;          &#xA;          persist security info=True;          &#xA;          Password=Dis2500os;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QuotesNewContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5052.site4now.net;Initial Catalog=DB_A0FD8B_QuotesNew;Persist Security Info=True;User ID=DB_A0FD8B_QuotesNew_admin;Password=Dis2500os" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuotesNewContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5052.site4now.net;          &#xA;          Initial Catalog=DB_A0FD8B_QuotesNew;          &#xA;          User Id=DB_A0FD8B_QuotesNew_admin;          &#xA;          persist security info=True;          &#xA;          Password=Dis2500os;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuotesContext-Web.config Connection String" />
    <MSDeployParameterValue Include="Quotes-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>